


/* ==========================================================================
   Countdown Style Start
   ========================================================================== */
.bg-wraper {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 700px;
  width: 100%;
}

.countdown-timer {
   ;
  position: absolute;
  margin: 0 auto;
  top: 28%;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 16px;
   font-family: "Montserrat", sans-serif;
}

.countdown-timer .heading-count {
  padding: 10px 68px;
  text-align: center;
}

.countdown-timer .heading-count h2 {

   ;
  line-height: 30px;
  margin-bottom: 15px;
}

.countdown-timer p {
  font-size: 14px;
   ;
  line-height: 22px;
}

.countdown-timer .button-group {
  margin-top: 30px;
}

.countdown-timer .btn {
  margin: 10px;
}

.time-count div {
  text-align: center;
}

.time-entry {
  display: inline-block;
  margin: 15px;
  padding: 20px;
  border-radius: 0px;
  text-align: center;
  font-weight: 400;
   ;
  font-size: 15px;
  line-height: 22px;
}

.time-entry span {
  font-size: 45px;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;
  font-weight: 700;
  display: block;
   ;
  margin-bottom: 10px;
}

.time-entry:first-child {
  border-left: none;
}

.countdown {
  width: 100%;
  margin: 25px auto;
  display: inline-block;
}

.countdown .time-count {
  padding: 0;
  position: relative;
  display: inline-block;
  text-align: center;
}

.countdown .time-count .time-entry {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 115px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 50px -10px #000;
}

.countdown .time-count .time-entry span {
  font-size: 45px;
  font-weight: 700;
   ;
  font-family: 'Montserrat', sans-serif;
  display: block;
  width: 100%;
}

.line-right {
  margin: 30px 0;
}

.line-right .time-count {
  position: relative;
  display: inline-block;
  text-align: center;
}

.line-right .time-count .time-entry {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 115px;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  background: #E91E63;
  box-shadow: 0 5px 50px -10px #fff;
}

.line-right .time-count .time-entry span {
  font-size: 45px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
   ;
  display: block;
  width: 100%;
}

.subscribe-form h4 {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
}

.subscribe-form .form-inline {
  position: relative;
}

.subscribe-form .form-inline .btn {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-size: 16px;
  border: 0;
  margin: 0;
  width: 200px;
  height: 55px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
